<div class="max-w-2xl w-full mx-auto">
  <form [formGroup]="budgetForm" class="space-y-4">
    @for (budget of budgets(); track budget.id) {
    <div
      class="bg-white rounded-2xl shadow-lg p-8 flex flex-col gap-6 transition-all"
      [class.border-4]="budgetForm.get(budget.control)?.value"
      [class.border-green-500]="budgetForm.get(budget.control)?.value"
    >
      <div class="flex items-center justify-between">
        <div class="flex-1">
          <h3 class="text-gray-900 font-bold text-xl mb-1">{{ budget.name }}</h3>
          <p class="text-gray-500 text-sm leading-tight">{{ budget.description }}</p>
        </div>
        <div class="flex items-center gap-12">
          <span class="text-gray-900 font-bold text-4xl"
            >{{ budget.price }}<span class="text-gray-400 text-2xl">€</span></span
          >
          <label class="flex items-center gap-2 cursor-pointer">
            <input
              type="checkbox"
              [id]="budget.id"
              [formControlName]="budget.control"
              class="w-4 h-4"
            />
            <span class="text-gray-600 text-sm">Afegir</span>
          </label>
        </div>
      </div>

      @if (budget.control === 'web' && budgetForm.get('web')?.value) {
      <div class="flex justify-end w-full px-4"><app-panel></app-panel></div>
      }
    </div>
    }
  </form>

  <div class="mt-12 text-right">
    <p class="text-gray-900 text-2xl font-semibold">
      Preu pressuposat:
      <span class="text-4xl font-bold">{{ budgetService.totalPrice() }}<span class="text-gray-400">€</span></span>
    </p>
  </div>
</div>
